.testimonial {
  margin-bottom: 100px;
  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-heading {
    font-weight: 400;
    font-size: 52px;
    line-height: 119%;
    margin-bottom: 60px;
  }
  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 23px;
  }
  &-item {
    padding: 40px;
    border: 1px solid #dedede;
    border-radius: 10px;
  }
  &-desc {
    max-width: 320px;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
  }
}
.user {
  display: flex;
  gap: 0 23px;
  align-items: center;
  margin-bottom: 30px;
  &-avt {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100rem;
  }
  &-info {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
  }
}
@media screen and (max-width: 767px) {
  .testimonial {
    &-content {
      grid-template-columns: 1fr;
      gap: 23px;
      margin: 0 20px;
    }
    &-desc {
      font-size: 16px;
    }
  }
  .user {
    &-avt {
      width: 50px;
      height: 50px;
      border-radius: 100rem;
    }
    &-info {
      font-size: 16px;
    }
  }
}
